[
  {
    "type": {{ operation_type | default("Register") | tojson }},
    "parameter": {
      "movement_name":        {{ movement_name | tojson }},
      "discard":              {{ discard | default("0") | tojson }},
      "host_specific_format": {{ host_specific_format | tojson }},
      "remarks":              {{ remarks | default(none) | tojson }}
    }
  }
]
